.translator-toast {
  display: flex;
  position: fixed;
  right: calc(1rem + env(safe-area-inset-right));
  margin-inline-start: calc(1rem + env(safe-area-inset-left));
  bottom: calc(1rem + env(safe-area-inset-bottom));
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-secondary);
  background-color: var(--bg-primary);
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  pointer-events: none;
  opacity: 1;
  transform: translate(0, 0);
  transition:
    opacity 0.35s ease,
    transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);

  @starting-style {
    opacity: 0;
    transform: translate(100vw, 100vh);
  }

  .translator-toast__icon {
    display: grid;
    place-items: center;
  }

  .translator-toast__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .progress {
      display: none;
      color: var(--google-blue);
    }
  }

  &[data-severity='error'] {
    color: var(--color-error);
    background-color: var(--bg-error);
    border-color: var(--border-error);

    .translator-toast__icon {
      color: var(--color-error);
    }

    .translator-toast__content {
      .progress {
        display: none;
      }
    }
  }

  &[data-content-type='progress'] {
    .translator-toast__content {
      .progress {
        display: block;
      }
    }
  }

  &[data-severity=''],
  &[data-content-type=''] {
    opacity: 0;
    transform: translate(100vw, 100vh);
  }
}