@import url('./icons.css');
@import url('./translator-page/translator-page.css');
@import url('./credits-page.css');
@import url('./not-found-page.css');
@import url('./not-supported-page.css');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: corporate;
}


:root {
  --google-font-family: 'Google Sans', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  /* Google Brand Colors */
  --google-blue: #4285f4;
  --google-red: #ea4335;
  --google-yellow: #fbbc05;
  --google-green: #34a853;
  --text-secondary: #5f6368;
  /* Text Colors */
  --text-primary: #3c4043;
  --text-secondary: #5f6368;
  --text-tertiary: #9aa0a6;

  /* Background Colors */
  --bg-primary: white;
  --bg-secondary: #f8f9fa;
  --bg-hover: #f1f3f4;
  --bg-error: #ebe3e2;

  /* Border Colors */
  --border-primary: #e8eaed;
  --border-secondary: #dadce0;
  --border-error: #fbb2b2;

  /* State Colors */
  --color-focus: #1a73e8;
  --color-success: var(--google-green);
  --color-warning: var(--google-yellow);
  --color-error: var(--google-red);

  /* Warning Colors */
  --warning-bg: #fff3cd;
  --warning-text: #856404;
  --warning-border: #ffeaa7;
}

@plugin "daisyui/theme" {
  name: "corporate";
  --color-primary: var(--text-primary);
  --color-primary-content: var(--text-secondary);
  --color-secondary: var(--text-secondary);
  --alert-color: var(--bg-secondary);
  --color-info: var(--google-blue);
  --color-success: var(--google-green);
  --color-warning: var(--google-yellow);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  padding-inline: calc(1rem + env(safe-area-inset-left))
    calc(1rem + env(safe-area-inset-right));
  padding-block: calc(1rem + env(safe-area-inset-top))
    calc(1rem + env(safe-area-inset-bottom));

}

.google-logo {
  display: flex;
  align-items: center;
  font-size: 1.7rem;

  span:is(:nth-child(1), :nth-child(4)) {
    color: var(--google-blue);
  }

  span:is(:nth-child(2), :nth-child(6)) {
    color: var(--google-red);
  }

  span:nth-child(3) {
    color: var(--google-yellow);
  }

  span:nth-child(5) {
    color: var(--google-green);
  }
}

.material-symbols-outlined {
  color: var(--text-secondary);
}